.Portfolio {
  padding: 50px 0;
}
.Portfolio__Container {
  width: 70%;
  margin: 0 auto;
}
.Portfolio__Head h6 {
  text-align: center;
  margin: 0 auto;
}
.Portfolio__Details {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.Portfolio__Card img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  object-fit: cover;
}
.Portfolio__Card a {
  height: 100%;
  display: block;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .Portfolio {
    padding: 20px 0;
  }
  .Portfolio__Details {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 575px) {
  .Portfolio__Container {
    width: 85%;
  }
}
