.Experience {
  padding: 50px 0;
}
.Experience__Container {
  width: 70%;
  margin: 0 auto;
}
.Experience__Container h6 {
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .Experience {
    padding: 25px 0;
  }
  .Experience__Container {
    width: 85%;
    margin: 0 auto;
  }
}
